$color-1: #00CFC1; // Medium Turquoise - Action color
$color-2: #595758; // Davys Grey
$color-3: #EF767A; // light Coral
$color-4: #FABC2A; // Orange Yellow
$color-5: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red